{% extends 'displayTemperature/base.html' %}

{% block content %}
	<h1>About</h1>
	<p style="font-size:16px">LoRa is a new technology used for the Internet of Things, it runs on the LoRaWAN (Low Power Wide Area Network), a network intended for wireless battery operated devices. The LoRaWAN has been rolled out across the city including the commercial city centre, Merchant City, West End and south west across the River Clyde towards the Braehead area. 
	The project objective was to make use of the LoRa technology and build a proof of concept system for monitoring noise pollution levels around Glasgow.</p>
{% endblock %}