{% extends 'displayTemperature/base.html' %}

{% block content %}
	<div>
    	<h1>Search Device</h1>
	    <form method="POST" class="post-form" id="post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="save btn btn-primary">Search</button>
	    </form>
		<div class="margin">
			<div>
				<table class="table table-condensed">
					<thead>
					  <tr>
					    <th scope="row">Dev EUI</th>
					    <th>Location</th>
						<th>Edit / Delete</th>
					  </tr>
					</thead>
					<tbody id="results">
				  </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script>
	// Submit post on submit
	$('#post-form').submit(function(event){
	    event.preventDefault();
		$.ajaxSetup({
		  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
	    $.ajax({
	        url : "/displayTemperature/deviceSearch/", // the endpoint
	        type : "POST", // http method
	        data : { dev_eui : $('#id_dev_eui').val(), address : $('#id_address').val() },// data sent with the post request

	        // handle a successful response
	        success : function(json) {
				var data = JSON.parse(json.results);
				$("#results").html("");
				for(var i = 0; i < data.length; i++){
					var urledit = "{% url 'edit_device' deveui=1 %}" . replace("1", data[i].fields['dev_eui']);
					var urldelete = "{% url 'delete_device' deveui=1 %}" . replace("1", data[i].fields['dev_eui']);
					$("#results").append("<tr>" +
										 "<td><strong>" + data[i].fields['dev_eui'] + "</strong></td>" +
						    			 "<td>" + data[i].fields['address'] + "</td>" +
										 "<td><a href='" + urledit + "'class='btn-sm btn-primary'>Edit</a>  " +
											  "<a href='" + urldelete + "'class='btn-sm btn-danger'>Delete</a></td>" +
						  				 "</tr>");
				}
			    console.log("success"); // another sanity check
	        }
	    });
	});
</script>
{% endblock %}